///////////////////////////////////////////////////////////////////////////////////////////////////////
// SITE WIDE
///////////////////////////////////////////////////////////////////////////////////////////////////////

// http://www.colourlovers.com/palette/92095/Giant_Goldfish

$blue: #69D2E7;
$light_blue: #A7DBD8;
$gray: #E0E4CC;
$light_orange: #F38630;
$orange: #FA6900;

.alert-notice { @extend .alert-info; }
.alert-error { @extend .alert-danger; }
.alert-success { @extend .alert-success; }
.alert-alert { @extend .alert-warning; }
.alert {
	margin-bottom: 0;
	margin: 10px;
}


.field_with_errors {
		display: inline;
		label {
				color: red;
		}
		input, select, textarea {
				border: 1px solid red !important;
		}
}

body, html {
    width: 100% !important;
    height: 100% !important;
    min-height: 100%;
}

///////////////////////////////////////////////////////////////////////////////////////////////////////
// HEADER
///////////////////////////////////////////////////////////////////////////////////////////////////////

.navbar {
	margin-bottom: 0;
}


///////////////////////////////////////////////////////////////////////////////////////////////////////
// BOOK#EDITOR
///////////////////////////////////////////////////////////////////////////////////////////////////////

div[data-react-class="EditorContainer"] {
	width: 100%;
	height: calc(100% - 52px);
}

.editor {
	width: 100%;
	height: 100%;
}

////////////////////////////////////////////////////////////
// SECTIONS
////////////////////////////////////////////////////////////

.sections {
	height: 100%;
	width: 20%;
	padding: 15px;
	background-color: $light_blue;
	float: left;
	.active-section-li {
		font-weight: bold;
	}
	.section-name {
		cursor: pointer;
	}
	.section-edit {
		cursor: pointer;
	}
	.section-title-input {
		max-width: 145px;
	}
	.section-title-input-btn {
		margin-left: 5px;
	}
	ul {
		list-style: none;
		padding-left: 0;
	}
}

.dz-message {
	cursor: pointer;
	padding: 10px;
	border: 1px dashed black;
}



////////////////////////////////////////////////////////////
// TEXT-AREA
////////////////////////////////////////////////////////////

.text-area {
	height: 100%;
	width: 37%;
	float: left;
	text-align: center;
	padding: 20px;
	border-left: 3px solid $blue;
	border-right: 3px solid $blue;
	.text-area-footer {

	}
	textarea {
		width: 100%;
		height: calc(100% - 35px);
		max-width: 100%;
		max-height: calc(100% - 35px);
		min-width: 100%;
		min-height: calc(100% - 35px);
	}
	.saved-notice {
		display: none;
		position: absolute;
		left: 10;
		top: 10;
		font-size: 30px;
	}
}

////////////////////////////////////////////////////////////
// PREVIEW
////////////////////////////////////////////////////////////

.preview {
	height: 100%;
	width: 43%;
	float: left;
	padding: 20px;
}

///////////////////////////////////////////////////////////////////////////////////////////////////////
// BOOTSTRAP OVERRIDES
///////////////////////////////////////////////////////////////////////////////////////////////////////

.form-inline {
	width: 100%;
}
